.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
    border: 0;
    border-radius: 5px 0px 0px 0px;
    font-weight: $font-weight-medium;
    font-size: $font-size-text-medium;
    line-height: 120%;

    &--medium {
        padding: rem(6px) rem(30px);
        width: rem(134px);
        height: rem(29px);
    }

    &--small {
        padding: rem(6px) rem(30px);
        width: rem(79px);
        height: rem(29px);
    }

    &--color {
        color: $white;
        background: $curious-blue;

        &:hover {
            background: $wildBlueYonder;
        }
    
        &:active {
            background: $wildBlueYonder;
            opacity: .5;
        }
    
        &:disabled { 
            color: $heather;
            background: $athensGray;
        }
    }

    &--noColor {
        color: $curious-blue;
        background: $white;

        &:hover {
            color: $wildBlueYonder;
        }
    
        &:active {
            color: $wildBlueYonder;
            opacity: 0.5;
        }
    
        &:disabled {
            color: $heather;
        }
    }

    &__icon {
        padding: 10px 30px;
        width: 176.12px;
        height: 50px;
        &.icons {
            width: 10.12px;
            height: 9px;
            &svg {
                fill: #FFFFFF
            }
        }
    }

}
.button-icon{
    width: 10.12px;
    height: 9px;
    fill: #FFFFFF;
}
