.footer {
    height: rem($height-footer-mobile);
    background-color: $white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;

    @media #{$screen-tablet} {
        height: rem($height-footer-desktop);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;

        @media #{$screen-tablet} {
            flex-direction: row;
            justify-content: flex-start;
    
        }
        
    }

    &__col {

        &--social {

            &:after{ 
                content: " ";
                background-color: $heather;
                position: absolute;
                width: rem(1px);
                height: rem(40px);
                // top: 0;
                // left: rem(143px);
                display: block;
                transform: rotate(90deg);

                @media #{$screen-desktop} {
                    display: none;
                }

                @media #{$screen-desktop} {
                        position: absolute;
                        width: rem(1px);
                        height: rem(40px);
                        top: 0;
                        left: rem(143px);
                        display: block;
            }
        }
    }

        &--menu {
            margin-left: rem(80px);
        }

        &--logo {
            position: absolute;
            display: block;
            right: 0;
        }
    }
}