.footer {
    background-color: $white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;

    @media #{$screen-tablet} {
        height: rem($height-footer-desktop);
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media #{$screen-tablet} {
            flex-direction: row;
        }
        
    }

    &__col {
        &--social {
            width: 100%;
            padding: rem(20px) 0;
            border-bottom: 1px solid $heather;

            @media #{$screen-tablet} {
                width: auto;
                padding-right: rem(40px);
                border-bottom: none;
            }

            @media #{$screen-desktop} {
                padding: 0;
                padding-right: rem(40px);
                margin: rem(20px) 0;
                border-right: 1px solid $heather;
            }
        }

        &--menu {
            width: 100%;
            padding: rem(20px) 0;
            border-bottom: 1px solid $heather;

            @media #{$screen-tablet} {
                border-bottom: none;
            }

            @media #{$screen-desktop} {
                margin-left: rem(40px);
            }
        }

        &--logo {
            padding: rem(20px) 0;
        }
    }
}