.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: rem(286px);
    height: rem(150px);
    padding-top: rem(16px);
    padding-right: rem(16px);
    padding-left: rem(16px);
    margin: 0;

    filter: drop-shadow(0px 12px 40px rgba(0, 0, 0, 0.03)) drop-shadow(0px 3px 10px rgba(164, 164, 164, 0.03));
    border-radius: 5px;
    background-color: $white;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__heading {
        font-size: $font-size-xxSmall;
        font-weight: $font-weight-medium;
        line-height: rem(24px);

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        max-width: rem(206px);
        margin-bottom: rem(10px);
    }

    &__icon {
        width: rem(24px);
        height: rem(24px);

        &--info {
            fill: $cerise-red;
        }

        &--question {
            fill: $wildBlueYonder;
        }
        
        &--i {
            fill: $curious-blue;
        }
    }

    &__text {
        overflow: hidden;

        font-size: $font-size-tiny;
        font-weight: $font-weight-regular;
        line-height: rem(17px);

        max-height: rem(51px);
    }

    &__buttons {
        display: flex;
        align-items: flex-end;
        justify-content: right;
        margin-right: rem(-16px);
    }
}
