.info-block {
    

    .slider {
        &__box {
            position: relative;
        }
    
        .swiper {
            &-container {
                height: 180px;

                .swiper-pagination-bullets {
                    bottom: 0;
                    z-index: 10000;
                }
            }

            &-slide {
                width: auto;
                opacity: 1;
    
                &-active {
                    opacity: 1;
                }
            }
        }
    }

//     // &__list {
//     //     // display: flex;
//     //     align-items: center;
//     //     justify-content: left;
//     // }

//     &__item {
//         width: rem(286px);
//         height: rem(150px);

//         &:last-child {
//             margin-right: 0;
//         }
//     }
}
