.form__field-text {
    font-size: rem(12px);
    color: $tundora;
}

.input {
    $height-input: 50px;
    $height-input-small: 40px;

    position: relative;

    &--textarea & {
        &__control {
            line-height: $line-height-large;
            height: rem(100px);
            padding: rem(17px) rem(20px);

            resize: none;

            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }
        }
    }

    &--small & {
        &__control {
            height: $height-input-small;
        }
    }

    &--buttoned & {
        &__control {
            padding-left: rem(49px);

            @media #{$screen-tablet} {
                padding-left: rem(39px)
            }
        }
    }

    &--search & {
        &__button {
            position: absolute;
            top: 50%;
            left: rem(20px);

            transform: translateY(-50%);
            @media #{$screen-tablet} {
                left: rem(10px)
            }
        }

        &__control {
            border: rem(1px) solid $athensGray;
        }
    }

    &__control {
        font-size: $font-size-tiny;
        line-height: $line-height-large;

        display: block;
    
        width: 100%;
        height: rem($height-input);
        padding: 0 rem(20px);

        transition: color .2s linear;

        border: rem(1px) solid $athensGray;
        border-radius: rem(5px);
        background-color: $white;
        box-shadow: none;

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $heather;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $heather;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $heather;
        }

        &:focus {
            border-color: $slate-gray;
            outline: none;
        }

        &:disabled {
            background-color: $athensGray;
        }

        &--error {
            border-color: $cerise-red;
            color: $cerise-red;
            font-size: rem(10px);

            &:focus {
                border-color: $cerise-red;
            }
        }

        &-error {
            font-size: rem(10px);
            line-height: $line-height-large;

            color: transparent;
        }
    }
}