.page {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    &__header {
        position: fixed;
        z-index: $z-index-header; //100
        top: 0;
        right: 0;// расстягиваем на всю ширину
        left: 0;
        flex-shrink: 0;// чтобы не сжимался при увеличении длины контента
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1; //растягивается на всю досупную длину

        margin-top: rem($height-header-mobile);
        padding-top: rem(40px);
        padding-bottom:rem(100px);

        @media #{$screen-tablet} {
            margin-top: rem($height-header-desktop);
            padding-top: rem(50px);
        }
    }

    &__footer {
        flex-shrink: 0;
    }
}
