.select {
    position: relative;

    .select2-container {
        .select2-selection {
            &::after {
                position: absolute;
                top: 0;
                right: rem(10px);
                bottom: 0;

                display: block;

                width: rem(24px);
                height: rem(24px);

                margin-top: auto;
                margin-bottom: auto;

                content: '';
                transition: transform .2s linear;

                background-image: url('/public/images/arrow-down.svg');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
        }
    }

    .select2-container--default {
        .select2-dropdown--below {
            border-top: none;
        }
        .select2-selection--single {
            height: rem(50px);

            background-color: $white;
            // border: 1px solid $athensGray;

            .select2-selection__placeholder {
                color: $heather;
            }

            .select2-selection__rendered {
                line-height: rem(15px);

                padding: rem(17px) rem(34px) rem(17px) rem(20px);

                color: $bunker;
            }

            .select2-selection__arrow {
                display: none;
            }
        }
    }

    .select2-search--dropdown {
        display: none;
    }

    .select2-dropdown {
        background-color: $white;
        border: rem(1px) solid $slate-gray;
    }

    .select2-results > .select2-results__options {
        max-height: rem(160px);

        color: $bunker;
    }

    .select2-results__option {
        padding: rem(10px) rem(20px);
        &[aria-selected=true],
        &--highlighted[aria-selected] {
            color: $bunker;
            background-color: rgba($slate-gray, .05);
        }
    }

    .select2-results__option--selected {
        font-weight: 700;

        color: $wildBlueYonder !important;
        background-color: transparent;
    }

    .select2-container {
        width: 100% !important;

        &.select2 {
            &:focus {
                outline: navajowhite;
            }
        }

        .select2-container--open {
            .select2-selection {
                transform: rotate(180deg);
            }
            .select2-selection--single {
                border: rem(1px) solid $slate-gray;
                border-bottom: 0;
            }
        }

        .select2-container--default {
            .select2-selection--single {
                .select2-selection__placeholder {
                    font-size: rem(14px);
                    line-height: rem(14px);

                    display: block;
                    overflow: hidden;

                    white-space: nowrap;
                    text-overflow: hidden;
                }
            }
        }
    }
}

.select .select2-results>.select2-results__options {
    max-height: 108px;
}