.social {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{$screen-tablet} {
            justify-content: left;
        }
    }

    &__item {
        margin-bottom: 0;
        margin-right: rem(23px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon > &__icon-pic {
        fill: $heather;

        &:hover {
            fill: $slate-gray;
            transition: fill .3s linear;
        }
    }

    &__icon-pic {
        width: rem(40px);
        height: rem(40px);
    }
}