@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;

    @if $position {
        font-family: "object-fit: #{$fit}; object-position: #{$position}";

        -o-object-position: $position;
        object-position: $position;
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin text-huge() {
    font-size: $font-size-title-huge;
    line-height: $line-height-title-huge;
    font-weight: $font-weight-medium;

    color: $bunker; 
}

@mixin text-large() {
    font-size: $font-size-title-large; 
    line-height: $line-height-title-large;
    font-weight: $font-weight-medium;

    color: $bunker; 
}

@mixin text-medium() {
    font-size: $font-size-title-medium; 
    line-height: $line-height-title-large;
    font-weight: $font-weight-medium;

    color: $mine-shaft; 
}

@mixin text-small() {
    font-size: $font-size-text-large; 
    line-height: $line-height-text-large;
    font-weight: $font-weight-medium;

    color: $color-text; 
}

@mixin text-tuny() {
    font-size: $font-size-title-medium; 
    line-height: $line-height-title-medium;
    font-weight: $font-weight-medium;

    color: $color-title; 
}

// @mixin ol {
//     ol  {
//         list-style-type: none;
//         counter-reset: item;
//     }
//     li {
//         counter-increment: item;
//     }
//     li:before {
//         content: counters(item, ".") ". ";
//     }
//     li li:before {
//         content: counters(item, ".") " ";
//     }  
// }

// @mixin block {
//     width: rem(500px);
//     height: rem(300px);
//     background-color: $tapestry;
// }





