@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;

    @if $position {
        font-family: "object-fit: #{$fit}; object-position: #{$position}";

        -o-object-position: $position;
        object-position: $position;
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}

@mixin text-huge() { // Заголовок страницы
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    line-height: $line-height-small;

    @media ($screen-tablet) {
        font-size: $font-size-huge;
    }
}

@mixin text-large() { // Заголовок новости
    font-size: $font-size-large;
    font-weight: $font-weight-medium;
    line-height: $line-height-small;

    @media ($screen-tablet) {
        font-size: $font-size-large;
        line-height: $line-height-tiny;
    }
}

@mixin text-medium() { // Заголовок третьего уровня
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    line-height: $line-height-tiny;

    @media ($screen-tablet) {
        font-size: $font-size-medium;
        line-height: $line-height-small;
    }
}

@mixin text-small() { // Текст
    font-size: $font-size-tiny;
    font-weight: $font-weight-regular;
    line-height: $line-height-huge;

    @media ($screen-tablet) {
        font-size: $font-size-xxSmall;
        line-height: $line-height-huge;
    }
}

@mixin text-tiny() {
    font-size: $font-size-tiny;
    line-height: $line-height-tiny;
    font-weight: $font-weight-medium;
}





// @mixin block {
//     width: rem(500px);
//     height: rem(300px);
//     background-color: $tapestry;
// }





